@use '../sass/base' as *;

.header {
    padding-top: 1.5rem;

    &__logo-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-inline: auto;

        @include respond(tab) {
            
        }
    }

    &__logo-img {
        width: 8.5rem;
    }

    &__icon-hambuger {
        width: 2.5rem;
        cursor: pointer;

        @include respond(tab) {
            display: none;
        }
    }

    &__nav {
        display: none;

        @include respond(tab) {
            display: flex;

            &-list {
                display: flex;
                justify-content: space-between;
                gap: 2.5rem;

                font-size: 1.2rem;
                font-family: $poppins;
                font-weight: 500;
                color: $grayish-violet;

                li {
                    transition: all .3s;
                    &:hover {
                        cursor: pointer;
                        color: $violet--secondary;
                    }
                }

            }
        }
    }

    &__sign-in {
        display: flex;
        gap: 2.5rem;
    }
}


.footer {
    background-color: $violet--secondary;
    padding: 5.2rem 0;
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

    }

    &__logo {
        color: white;
        //what is giving the logo it's width??
        // width: 12rem;
        
    }


    &__socials {
        padding-top: 1.8rem;
        display: flex;
        gap: 1.7rem;
    }

    &__social-icon {
        width: 2.3rem;
        height: 2.3rem;
        fill: white;
    }

    @include respond(tab) {
        &__container {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            padding: 0 3rem;
        }

        &__socials {
            padding-top: 0;
            display: flex;
            gap: 1.2rem;
        }

        &__social-icon {
            width: 1.4rem;
            height: 1.4rem;
            
            &:hover{
                cursor: pointer;
                //why isn't fill working??
                fill: $cyan;
                // background-color: $cyan;
            }
        }
    }

    @include respond(desktop) {
        &__container {
            padding: 0 5.2rem;
        }
    }
    
    
}


.links {
    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 2.2rem;
    }
    
    &__heading {
        color: white;
        text-align: center;
        font-size: 1.2rem;
        font-family: $poppins;
        font-weight: 700;
        padding-bottom: .6rem;
    }
    
    &__footer {
        margin-top: .9rem;
        color: $gray;
        text-align: center;
        font-size: 1rem;
        font-family: $poppins;
        font-weight: 500;
    }


    @include respond(tab) {
        
        &__container {
            flex-direction: row;
            gap: 2.2rem;
        }
        
        &__heading {
            text-align: left;
            font-size: 1.1rem;
        }

        &__footer {
            text-align: left;
            font-size: .8rem;
            transition: color .6s;
            cursor: pointer;
            
            &:hover {
                cursor: pointer;
                color: $cyan;
            }
        }
    }
}